*{
  margin: 0;
  padding: 0;
  border: 0;
  color: black;
  text-decoration: none;
  box-sizing: inherit;
}
body{
  background-color: #efefef;
}
.topNavBar{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.topNavBar ul{
  list-style-type: none;
  padding-right: 16px;
}

.topNavBar nav{
  float: right;
  padding-top: 7px;
  
}


.clearfix::after {
  content: "";
  display: block;
  clear: both;
}


.topNavBar  li {
  float: left;
  margin: 0px 17px;
  
}

.topNavBar  li a{
 
  display: block;
  padding:5px 0;
  border-top: 3px solid transparent;
  border-bottom:3px solid transparent;
  color: #b7b7b7;
  font-size: 12px;
}

.topNavBar  li a:hover{

  border-bottom:3px solid orange;
}




.logo{
  
    padding-left: 16px;
    font-size: 24px;
    font-family: 'Arial Black';

}

.hy{
  color:#e6686a;
  padding-right: 3px;
}



.card{
    color: #9a9da2;
}

.banner{


  height: 515px;
  background-image: url(../img/top-bg.jpg)  ;
  background-size: cover;
  position: relative;
}

.banner::before{

  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(44, 51, 64, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}


.profilePicture{

  height: 343px;
  width:296px;
  margin: 50px 0 0 50px;
  background-size: cover;
  background-image: url(../img/man2.jpg);
  transition: all 0.3s;
}
.profilePicture:hover{
  background-image: url(../img/man.jpg);
}
main{
  position: relative;
  height: 800px;
}

.useCard{

  margin: -300px auto;
  
  max-width: 940px;
  position: relative;

  background-color: #ffffff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  
}
.useCard svg{
  width: 35px;
    height: 35px;
    margin-top: 2px;
    fill: white;
    vertical-align: top;
    
}
.useCard .me{
  float: left;
  padding: 50px;
  padding-left: 66px;
  
}
.useCard .me h1{
  margin-top: 25px;
}

.useCard .profilePicture{
    float: left;

}

.useCard dl{

  margin-top: 30px;
  padding-top: 18px;
  border-top: 1px solid #dedede;
}

.useCard dd,dt{
    float: left;
    padding: 12px 0;

}

.useCard dd{

  width: 40%;
  font-size: 12px;
  font-weight: 700;
}

.useCard dt{

    width:60%;
    font-size: 15px;
    color: #9da0a7;
}


main .foot{
  width: 100%;
  margin-top: 50px;
  float: left;
  background-color: #e8676b;
  text-align: center;


}
main .foot a{
  display: inline-block;
    width: 50px;
    line-height: 40px;
    padding: 5px 0;
    border-radius: 50%;
    margin: 16px 70px;
    transition: all 0.3s;
}

main .foot a:hover{
    background-color: rgba(0, 0, 0, 0.1);
}


.hello{

    background-color: #e8676b;
    width: 50px;
    text-align: center;
    padding: 3px 10px;
    position: relative;
    margin-bottom: 10px;
    

}
.hello span{
  color: #fff;

}

.hello::before{
  
    content: '';
   
    
      width: 0;
      height: 0;
      border-top: 10px solid #e8676b;

      border-right: 10px solid transparent;
      position: absolute;
      top:100%;
   

}



.downloadResumeWrapper{

    text-align: center;
    margin-top: 50px;
    
}

.downloadResume{
  padding:30px 60px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 14px;
  display: inline-block;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  letter-spacing: .5em;
 
  border-radius: 4px;
  transition: all 0.3s;
 

 
}
.downloadResume:hover{

  
  box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.6);


}


.skillWrapper{
  max-width:940px;
  margin: 20px auto;
}

.skill{

  padding: 30px 30px 20px 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  box-shadow: 0 1px 32px -20px #000;
}
.skillWrapper .skill li{
  
  display: inline-block;
  width: 50%;
  padding: 20px 15px;
  float: left;
  box-sizing: border-box;

}


.skillWrapper h2{
  text-align: center;
  margin: 60px 0px  30px 0;
  font-size: 34px;
  color: #3d4451;

}

.skill>li>div{
  background-color: #FAE1E1;
}
.skill>li>div div{
  border: 2px solid red;
}
.skill>li:nth-child(1)>div div{
  
  width: 40%; 
}



.skill>li:nth-child(2)>div div{
  width: 20%; 
}


.skill>li:nth-child(3)>div div{
  width: 10%; 
}

.skill>li:nth-child(4)>div div{
  width: 0%; 
}

.skill>li:nth-child(5)>div div{
  width: 0%; 
}

.skill>li:nth-child(6)>div div{
  width: 0; 
}


.jobs{
  text-align: center;
  

}
.jobs h2{

  margin-top: 2em;
  font-size: 34px;
  text-align: center;
}
.jobsNav{

  display: inline-block;
  

}

.jobsNav ul{
  display: inline-block;
}

.jobsNav li{
  float: left;
  display: inline-block;
  margin: 10px 20px 0 20px;
  cursor: pointer;
}
.jobsNav li:first-child{

  margin-left:0;
}
.jobsNav li:last-child{
  margin-right: 0;
}

.jobsBar{
  height: 5px;

}
#jobsBar::after{

  content: "";
  display: block; 
  height: 5px;
  background-color: red;
  transition: all 0.3s;
}
.jobsBar::after{
  margin-left: -4px;
  width: 15%;
  
}


.jobsBar2::after{
  width: 15%;
  margin-left: 28%;
}
.jobsBar3::after{
  width: 15%;
  margin-left: 57%;

}
.jobsBar4::after{
  width: 15%;
  margin-left: 86%;
}

.works{
  width: 940px;
  margin: 30px auto;
}

.worksLeft{
  float: left;
}
.worksRight{
  float: right;
}

.worksRight img{
  display: block;
}

.worksRight img:nth-child(2){

  margin-top: 27px;
}

