body{

  margin: 0;
  padding: 0;
}

h1{

  text-align: center;
}

#ordinary{

  margin: 0 auto;
  overflow-x: hidden;
  border: 1px solid #000;

}
#OWrapper{
  transition: all 1s;
  display: flex;

}

#buttonList{

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

button{

  margin-top:3px;
  border:0;
  border-radius: 10px;
  outline: none;
  box-shadow: 2px 2px 2px -3px #000000;
  background-color: #ccc;
  cursor: pointer;
  position: relative;
  height: 40px;

}
button:hover{
  
 background-color: #eee;

}

  button.active::before {
    content: ' ';
    border: 8px solid transparent;
    border-top-color: #fff;
    position: absolute;
    left: 15px;
    top: 0px;


}

#buttonList .active{

  background-color: #ddd;
  background-color: #ddd;
  box-shadow: inset 0px 0px 10px -2px #000000;
}




#seamless{

  overflow: hidden;
  position: relative;
  margin: 10px auto;
}
#seamlessWrapper{

  display: flex;
  justify-items: start;
  position: absolute;
  
}


#seaLeftJump,#SeaRightJump{

  position: absolute;
  top: 50%;
  cursor: pointer;

}
#seaLeftJump,#SeaRightJump:hover{


 
}
#seaLeftJump{

  

}

#SeaRightJump{
  right: 0;

}


