*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wrapper {
  display: flex;
}

#html,
#taiji {
  width: 50vw;
  word-break: break-all;
  position: relative;
  background-color: #fff;
}
#taiji {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  .wrapper {
    flex-direction: column;
  }
  #html,
  #taiji {
    width: 100%;
  }
  #html {
    margin-bottom: 50vh;
  }
  #taiji {
    border-top: 1px solid #000;
    height: 50vh;
    bottom: 0;
    position: fixed;
  }
}
