*{
  margin: 0;
  padding: 0;

}

body{
  overflow: hidden;
}

.icon {
  width: 2em; height: 2em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}


header{

  position: fixed;
}

header .wrapper{

  position: absolute;
  width: 100vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  height: 80px;
  box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.1)
}


.Toolbar{


  align-items: center;
  height: 100%;
  box-sizing: border-box;

}


.Toolbar svg{
  padding: 0 7px;
  cursor: pointer;
  box-sizing: border-box;
  
}

.Toolbar svg:hover{
  fill: orange;
}

.Toolbar svg:nth-child(1){

  height: 1.7em;
  margin-right: 0;

}

.wrapper .Toolbar svg:nth-child(2){

  margin: 0;
  width: 1em;
}


.Toolbar svg:nth-child(3){


}

.rubber{

}

.jscolor{

  border-radius: 5px;
  width: 40px;

}

canvas {
  
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  
  }



  .Toolbar .orange{
    fill: orange;
 
    

  }


  .penSize , .rubberSize{

    width: 40px;

  }