body{

  width: 100%;
  margin: 0 auto;
}
p,a{
  text-align: center;
  color: black;
  text-decoration: none;
}

.xiaZaiLianJie{

  font-size: 30px;
  color: red;

}


.downloadButtonWrapper{

  background-color: dodgerblue;
  width: 150px;
  height: 40px;
  display: flex;
  justify-content:center;
  align-items:center;
  

}


.downloadButton{
  display: block;
  widows: 150px;

  height: 40px;
}

.downloadText{
  margin-left: 5px;
}

